@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>1er Parcial</h1>
    <p class="lead">Este es un parcial que intenta darnos a entender el funcionamiento de controladores utilizando un WEB API y WEB.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">¡Calificanos con A! &raquo;</a></p>
</div>
